$modal-card-head-background-color: rgb(35, 153, 213);
$modal-card-body-background-color: rgb(35, 153, 213);
$modal-card-title-color: white;

@import "~bulma/bulma";
@import "~bulma/bulma.sass";
@import "~bulma-extensions/bulma-switch/dist/css/index.sass";
